
<form method="POST" action="/product/create" class="form">
  <h1>Formulaire Produit</h1>
  <section>
    <article>
      <h2>Champs Produit</h2>
      <div>
        <label for="name">
          Libellé :

        </label>
        <input type="text" name="name" id="name" placeholder="libellé">
      </div>


      <div>
        <label for="descriptionLocation">
          Emplacement :
        </label>
        <textarea type="text" name="descriptionLocation" id="descriptionLocation" placeholder="description de l'emplacement de stockage"></textarea>
      </div>
    </article>



    <article>
      <% if (types && types.length >0){%>

      <div class="form-group">
        <label for="type">Type de produit:</label>
        <select class="form-control" id="type" name="type">

          <% types.forEach(function(type) { %>
          <% type.forEach(function(value) { %>
          <option value="<%= value.id%>" ><%= value.name%></option>
          <% }); %>
          <% }); %>
        </select>
      </div>
      <%}%>
    </article>


    <article>
      <% if (states && states.length >0){%>

      <div class="form-group">
        <label for="type">Etat de produit:</label>
        <select class="form-control" id="type" name="type">

          <% states.forEach(function(type) { %>
          <option value="<%= type.code%>" ><%= type.name%></option>
          <% }); %>
        </select>
      </div>
      <%}%>
    </article>


  </section>
  <input type="submit" value="Enregistrer" id="submit">

</form>

