################################################
###############  .gitignore   ##################
################################################
#
# This file is only relevant if you are using git.
#
# Files which match the splat patterns below will
# be ignored by git.  This keeps random crap and
# sensitive credentials from being uploaded to
.tmp
.idea
node_modules
bower_components
typings
*.js
*.map