<!DOCTYPE html>
<html>
<head>


  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>

<body>

<%- partial('menuView/menu.ejs')%>

<div class="container">
  <% if (req.session.me) { %>
  <%- body %>
  <% } else { %>
  <% if (error){%>
  <div class="error"><%=error.description %></div>
  <%}%>

  <form action="/login" method="post" class="form">
    <h1>Formulaire de connection</h1>
    <section>
      <div>
        <label for="login">Identifiant:</label>
        <input type="text" name="login">
      </div>
      <div>
        <label for="password">Mot de passe:</label>
        <input type="password" name="password">
      </div>
    </section>
    <input type="submit" value="valider"  id="submit">
  </form>

  <% } %>
</div>

<script src="/js/dependencies/sails.io.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src=""></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--SCRIPTS END-->
</body>
</html>
