#userForm{
  padding: 20px;
}
#userForm section input, #userForm section label{
  display: inline-block;
  height: auto;
}
#userForm section{
  position: relative;
  left: 50%;
  margin-left: -49%;
}


#userForm section label{
  width: 25%;
}

#userForm section input{
  width: 45%;
}

#userForm #submit {
  position: relative;
  left: 50%;
  margin-left: -30px;

}

#user_list th{
  position: static;
  display: table-cell;
  float: none;
  width: 25%;
}

#user_list .btn_add{
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}
