<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <div id="icon_user">
        <div class="circle">
          <a id="icon_user_icon" href="/user" class="glyphicon glyphicon-user navbar-brand"></a>
        </div>
      </div>
      <div id="navbar_title">
        <a  href="/">StocKGop</a>
      </div>
      <div id="navbar_menu">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Page d'accueil <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Commander</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion des stocks <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Ajouter</a></li>
            <li><a href="#">Supprimer</a></li>

          </ul>
        </li>
        <li><a href="#">Recherche avancée</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <label for="search">Recherche</label>
          <input type="text" id="search" name="search" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

    </div><!-- /.navbar-collapse -->


  </div><!-- /.container-fluid -->
</nav>
