
<div>
    <p><%=type.name%></p>
    <p><%=type.code%></p>

</div>

<aside>
  <a href="/type/update/<%=type.id%>" class="glyphicon glyphicon-edit"></a>
  <a href="/type/delete/<%=type.id%>"  class="glyphicon glyphicon-remove-sign"></a>

</aside>
