<section  class="control-group list">
  <a href="/product/create" class="glyphicon glyphicon-plus btn_add" title="ajouter un type"></a>
  <%if (list && list.length > 0){%>
  <table>
    <thead>
    <tr>
      <th>
        Libellé
      </th>
      <th>
        Code
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>


    <% _.each(list, function(type) {%>

    <tr>

      <td><%=type.name%></td>
      <td><%=type.code%></td>
      <td>
        <a href="/type/detail/<%=type.id%>" class="glyphicon glyphicon-eye-open" title="détail du type">

        </a>
      </td>
    </tr>

    <% }) %>

    </tbody>
  </table>

  <% }else{ %>

  <article>
    <p>Aucun type</p>

  </article>
   <%}%>


</section>
